.img-box-bottom-one{
	display: block;
	width: 186px;
	height: 118px;
    overflow: hidden;
}
.img-box-bottom-one a{
	display: block;
	background: rgba(0,0,0,0.5);
	padding: 0 10px;
	width: 166px;
	height: 40px;
	font-size: 16px;
	color: white;
	vertical-align: middle;
	line-height: 20px;
	transform: translateY(-20px);
}
.img-box-bottom-one:hover a{
	transform: translateY(-40px);
	transition: all 0.3s ease-in-out;
}
.img-box-brand a{
	display: block;
	background: rgba(0,0,0,0.5);
	width: 370px;
	height: 20px;
	font-size: 16px;
	color: white;
	vertical-align: middle;
	line-height: 20px;
	transform: translateY(-20px)
}

.star-img-detail{
	width: 90px;
	height: 100px;
	overflow: hidden;
}
.star-img-detail a{
	display: block;
	background: rgba(0,0,0,0.5);
	width: 90px;
	height: 20px;
	font-size: 16px;
	color: white;
	vertical-align: middle;
	line-height: 20px;
	transform: translateY(-20px);
	text-align: center;	
}
.content1-left-bottom-img{
    height: 120px;
    width: 180px;
    overflow: hidden;	
}
.content1-left-bottom-img a{
    display: block;
    height: 40px;
    width: 160px;
    padding: 0 10px;
    line-height: 20px;
    background: rgba(0,0,0,0.5);
	font-size: 16px;
	color: white;
	vertical-align: middle;
	line-height: 20px;
	transform: translateY(-20px);
}
.content1-left-bottom-img:hover a{
	transform: translateY(-40px);
	transition: all 0.3s ease-in-out;	
}
.content1-left-bottom-img img{
    height: 120px;
    width: 180px;

}
.contemt1-left-bottom-img{
    height: 120px;
    width: 180px;
}
.content1-right-img-detail{
    height: 90px;
    width: 140px;
	overflow: hidden;	
}
.content1-right-img-detail a{
	display: block;
	height: 20px;
	width: 140px;
    line-height: 20px;
    background: rgba(0,0,0,0.5);
	font-size: 16px;
	color: white;
	vertical-align: middle;
	line-height: 20px;
	transform: translateY(-20px);
	text-align: center;
}
.bottom-img img {
	transition: transform .5s;
}
.bottom-img img:hover {
	transform: scale(1.1);
}
